
.register-body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
    font-family: 'Raleway',sans-serif,helvetica;
  }

#wrapper {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top left, #05202b 10%, #156a8e 65%, white 200%);
    color: white;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
    border: none;
    outline: none;
    border-radius: 3px;
    -webkit-transition: all 0.17s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: all 0.17s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.17s cubic-bezier(0.4, 0, 1, 1);
  }
  #wrapper .register-btn {
    position: relative;
    padding: 12px 22px;
    display: block;
    font-size: 28px;
    z-index: 2;
    cursor: pointer;
  }
  #wrapper.active .register-form {
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  #wrapper .register-form {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    background-image: -moz-linear-gradient(to top left, #05202b 10%, #156a8e 65%, white 200%);
    background-image: -webkit-linear-gradient(to top left, #05202b 10%, #156a8e 65%, white 200%);
    background-image: linear-gradient(to top left, #05202b 10%, #156a8e 65%, white 200%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: inherit;
    transform-origin: center center;
    z-index: 3;
    -moz-transform: scale(0, 0.00001);
    -webkit-transform: scale(0, 0.00001);
    transform: scale(0, 0.00001);
    -moz-transition: all 0.17s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: all 0.17s cubic-bezier(0.4, 0, 1, 1);  
    transition: all 0.17s cubic-bezier(0.4, 0, 1, 1);
  }
  #wrapper .register-form .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 32px;
    opacity: 0.95;
    cursor: pointer;
    -moz-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
  }
  #wrapper .register-form .close-button:hover {
    opacity: 0.83;
  }
  #wrapper .register-form .form-title {
    margin-bottom: 40px;
    color: #eee;
    font-size: 40px;
    font-weight: 600;
  }
  
  #wrapper .register-form .form-row {
    position: relative;
    margin-bottom: 17px;
    max-width: 400px;
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
  }
  #wrapper .register-form .form-row input {
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    color: #eee;
    font-size: 17px;
    font-family: 'Raleway',sans-serif,helvetica;
    line-height: 1;
    border: none;
    outline: none;
    border-bottom: 2px solid #e7e7e7;
    -moz-transition: box-shadow 0.2s ease-in;
    -webkit-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  #wrapper .register-form .form-row input:focus {
    box-shadow: 0 1px 0 0 #fff;
  }
  #wrapper .form-row input + label {
    left: 0;
    top: 20px;
    position: absolute;
    pointer-events: none;
    -moz-transition: all 0.32s ease;
    -webkit-transition: all 0.32s ease;
    transition: all 0.32s ease;
  }
  #wrapper .form-row input:focus + label, #wrapper .form-row input.active + label {
    font-size: 13px;
    -moz-transform: translateY(-19px);
    -webkit-transform: translateY(-19px);
    transform: translateY(-19px);
  }
  #wrapper .register-form .form-button {
    margin-top: 15px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #fff;
    color: #00a7ee;
    text-align: center;
    border: solid 1px white;
    -moz-transition: color 0.17s ease-in, background-color 0.15s ease-in;
    -webkit-transition: color 0.17s ease-in, background-color 0.15s ease-in;
    transition: color 0.17s ease-in, background-color 0.15s ease-in;
  }
  #wrapper .register-form .form-button:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
  }