.cat-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #ee6e73;
    color: white;
}

.cat-header > .dropdown-btn{
    display: flex;
    align-items: center;
}
.dropdown-btn{
    padding: 0;
}

.dropdown-btn i.material-icons{
    vertical-align: bottom;
    
}

.dropdown-btn>ul{
    position: absolute;
}