.dropdown-btn ul{
    position: absolute;
    left:0;
    top:100%;
    padding:10px 0;
    background-color: white;
    min-width:250px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: black;
    border-top:2px solid rgb(153, 12, 12);
    z-index: 10000;
}

a.logo span{
    color: rgb(153, 12, 12);
}

a.dropdown-btn{
    color: white;
}


.drp-header{
    position:relative;
    padding: 0 15px;
}

.dropdown-btn ul li{
    display: block;
}

.dropdown-btn ul li>a{
    color: black;
    display:block;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    margin: 0;
    padding: .8rem 1.5rem;
    transition: all .2s ease;
}

.dropdown-btn ul li:hover{
 
    transform: scaleY(1.2);
    
}