.dropdown-btn ul{
    position: absolute;
    left:0;
    top:100%;
    padding:10px 0;
    background-color: var(--text-clr);
    min-width:250px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: black;
    border-radius: .2rem;
    z-index: 10000;
}


a.dropdown-btn{
    color: var(--text-clr);
}


.drp-header{
    position:relative;
    padding: 0 15px;
}

.dropdown-btn ul li{
    display: block;
}

.dropdown-btn ul li>a{
    color: var(--primary-clr);
    display:block;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    margin: 0;
    padding: .8rem 1.5rem;
    transition: all .4s ease;
    text-transform: capitalize;
}

.dropdown-btn ul li:hover{
 
    border-left: 2px solid var(--primary-clr);
    
}