.product-detail{
    position: relative;
    display: flex;
    align-items: stretch;
}

.product-detail .img-wrapper{
    padding: 5px;
    margin-top: 5px;
    max-width: 400px;
    width: 100%;
}

.product-detail .img-wrapper img{
    border-radius: 1rem;
    max-width: 400px;
    overflow: hidden;
}

.product-detail .detail-wrapper{
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    
}

.product-detail .detail-wrapper h5{

    margin: 5px 0;
}

.product-detail .detail-wrapper p{
    flex-grow: 1;
    margin: 5px 0;
}

.product-detail .detail-wrapper h6{
    position: relative;
    display: inline;
    margin: 5px 0;
}

.product-detail .detail-wrapper div.spacer{

    flex-grow: 1;
}

