.nav-wrapper{
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav{
    box-shadow: initial !important;
}

nav .logo{
    font-family: 'Corinthia', cursive;
    font-size: 35px;
    font-weight: 700;
    margin: 0 10px;
    display: block;
    position: relative;
}




nav ul a.cart-link i{
    display: inline;
    text-align: center;
    

}

nav ul a.cart-link{
    /* min-width: auto; */
    max-height: 60px;
}

@media (max-width:792px) {
    .nav-wrapper{
        display: block;
        text-align: center;
    }
    nav .nav-wrapper .logo{
        display: inline-block;
        padding: 5px 20px;
    }

    .nav-wrapper .search {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .nav-wrapper .search input{
        width: 90%;
    }

    .nav-wrapper ul{
        display: flex;
        flex-direction: column;
    }



    
}

/* serch barr */






