nav ul li a span.badge {
    display: inline;
    position: absolute;
    padding: 0 10px;
    margin: 0;
    float: right;
    min-width: none;
    color: white;
    background-color: transparent;
    border-radius: 1rem;

}