div .products-page .container{
    width: 100% !important;
    align-items: center;
}

.product-list{
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.product-list .card{
    
    margin: .6rem;
    width: 18rem;
    height: 30rem;
    min-width: 15rem;

}

.product-list .card .card-content{
    display: flex;
    position: relative;
    padding: 5px 15px;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 50%;
}

.product-list .card .card-image{
    height: 50%;
    overflow: hidden;
    
}

.card .card-content .spacer{
    flex-grow: 1;
}

.product-list .card .card-image .card-title{
    font-size: 1em;
    font-weight: 600;
    padding: .8rem;
    left: .5rem;
    bottom: .5rem;
    border-radius: .5rem;
    background-color: #1e201f79;
}
.product-list .card .card-image image{
    object-fit: cover;
    object-position: center;
}

.card .card-content .btn-flat:hover{
    background-color: rgba(0,0,0,.1);
}

.card .card-content button.add-cart.btn {
    margin-bottom: 5px;
}

.card .card-content button.remove-cart.btn {
    background-color: red;
    margin-bottom: 5px;
}

@media(min-width:900px) {
    .container .products{
        width:90%;
    }
}

@media(max-width:580px) {
    .products-page .title{
        text-align:center;
    }
}


